
body{
    background-color: rgb(13, 207, 49);
    color: red;
}
#intro{
    background-color: blueviolet;
    color: rgb(0, 221, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
h3{
    text-decoration:underline ;
}
.teacher-info{
    text-transform:capitalize;background-color: blue;
    box-shadow: 5px 5px 20px 5px black;
    opacity: 0.8;
}
#intro,header {
    text-align: center;
    border: 3px solid black;
}
.main-section-content h2{
    border: 5px solid black;
    margin-top: 30px;
    padding: 30px;
    border-radius: 90px;
}
#bestsellers h2{
    border: 5px solid black;
    margin-top: 30px;
    padding: 30px;
    border-radius: 90px;
}
nav li{
    margin:20px;
    padding :10px;
    border: 7px solid blue;
    border: radius 90px;
}
 button{
    background-color: rgb(226, 43, 61);
    color: rgb(16, 17, 17);
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-radius: 50px;
    border: 4px solid black;
    
 }
 nav{
    position:sticky;
    top:0;
    background-color: rgb(231, 12, 12) ;
 }
 #book-reviews p,
 #book-reviews h3{
   position: relative; 
   left: 10%;
 }
 header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
 }
 nav {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 nav ul{
    display: flex;
    justify-content: space-between;
 }
 #teachers{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header{
    grid-area: header;
 }
 nav{
    grid-area: nav;
 }
 #intro{
    grid-area: intro;
 }
 #main-section{
    grid-area: m-s;
    border: 3px solid black;
 }
 #bestsellers{
    grid-area: bs;
    border: 3px solid black;
 }
 footer{
    grid-area: footer;
 }
 .grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-areas: 
    'header header header header header '
    'nav nav nav nav intro'
    'm-s m-s m-s m-s bs'
    'footer footer footer footer footer'
 }
 